
h2 {
    color: #505050;
    font-size: 40px;
}

.social {
    margin-left: 400px;
    margin-top: 130px;
    width: 500px;
    text-align: center;
    padding: 20px 80px 80px;
    background-color: #d3d3d3;

}

.icon-btn {
    width: 75px;
    height: 75px;
    border: 0;
    color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    font-size: 40px;
    background-color: #ffffff;
}

.twitter {
    color: #4099ff;
}

.facebook {
    color: #3b5998;
}

.google-plus {
    color: #db5a3c;
}

.instagram {
    color: #5c3d2e;
}

.github {
    color: #4183c4;
}

.icon-btn:hover {
    transform: scale(1.10);
    transition: ease-in-out .3s;
}

.twitter:hover {
    background-color: #4099ff;
    color: #fff;
}

.facebook:hover {
    background-color: #3b5998;
    color: #fff;
}

.google-plus:hover {
    background-color: #db5a3c;
    color: #fff;
}

.instagram:hover {
    background-color: #5c3d2e;
    color: #fff;
}

.github:hover {
    background-color: #4183c4;
    color: #fff;
}